.suggested_accounts{
    .list_accounts{
        .notification{
            color: rgba(22, 24, 35, .5);
            font-size: 16px;
            font-weight: 400;
        }
        .btn-login{
                width: 100%;
                font-size: 18px;
                margin-top: 8px;
                font-weight: 900;
                padding: 6px 8px;
        }
    }
}